*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face{
    font-family: billabong;
    src: url(/Frontend/InstagramFont/Instagram.ttf);
}
.container{
    height: 600px;
    width: 800px;
    margin: auto;
    margin-top: 5%;
    display: flex;
}
#sideimage{
    height: 100%;
}
.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
form{
    border: 2px rgb(160, 160, 160) solid;   
    border-width: thin;
    height: 450px;
    width: 340px;
    margin-left: 50px;
}
form h1{
    text-align: center;
    font-family: 'billabong';
    margin-top:50px;
    font-size: 3rem;
    margin-bottom: 50px;
}
form input{
    height: 40px;
    width: 85%;
    font-size: 0.8em;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 7%;
    border-color: rgb(171, 171, 171);
    border-width: thin;
    background-color: rgba(196, 230, 250, 0.201);
}
.loginbtn, .signupbtn{
    background-color: rgb(82, 172, 240);
    height: 30px;
    width: 85%;
    margin: 20px 7%;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.error-message {
    color: red;
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
}
#signupForm {
    display: none;
}
hr{
    margin: 0px 8%;
    width: 30%;
    display: inline-block;
}
#loginfb{
    color: blue;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#forgotpass{
    text-align: center;
}
.newaccount{
    height: 60px;
    width: 340px;
    border: 1px solid rgb(160, 160, 160);
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
}
.newaccount a{
    text-decoration: none;
    color: rgb(31, 98, 185);
}