*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}
@font-face{
    font-family: billabong;
    src: url(/Frontend/InstagramFont/Instagram.ttf);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav-logo{
    font-family: 'billabong';
    margin-bottom: 2vw;
}
.navbar img{
    width: 12%;
    height: 12%;
}
.nav-logo img{
    display: none;
}
.navbar{
    line-height: 1.5;
    width: 15%;
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.188);
    padding: 2vw;
    position: fixed;
    top: 0;
    left: 0;
}
.nav-topics{
    padding-bottom: 2vw;
}
.topics{
    font-size: 2.2vh;
    display: flex;
    margin-bottom: 1.7vw;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}
.users-profile{
    width: 85%;
    margin-top: 5vw;
    margin-left: 15%;
    height: 100%;
}
.users-profile-child{
    display: flex;
    margin-left: 13vw;
}
.users-profile-child img{
    width: 13vw;
}
.all-details{
    margin-left: 7vw;
}
.username{
    margin-top: 0.3vw;
}
.part1{
    display: flex;
    gap: 10px;
    margin-bottom: 1vw;
}
button{
    border: none;
    font-weight: 600;
    border-radius: 8px;
    background-color: #EFEFEF;
    color: #000000;
    padding: 0.5vw 1vw;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thread-btn{
    display: flex;
    gap: 5px;
}
.threads-account img{
    width: 1vw;
    height: 1vw;
}
.part1 img{
    width: 2vw;
    height: 2vw;
}
.part2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 2vw;
}

.part3{
    line-height: 1.5;
}
span{
    font-weight: 500;
}
.new{
    width: 100%;
}
.new img{
    width: 6vw;
    height: 6vw;
    margin-top: 5vw;
}
.new p{
    margin-left: 2vw;
    color: black;
    margin-bottom: 3vw;
}
hr{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
    color: rgb(0,55,107);
    font-weight: 600;
}
.footer{
    margin-left: 5%;
    width: 90%;
    padding: 1vh;
    margin-top: 3vh;
    line-height: 2;
}
.footer p{
    font-size: 0.9vw;
}
.share-1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    text-align: center;
}
.share-1 p{
    font-size:0.9rem;
    color: rgb(115,115,115);
    font-weight: 600;
    cursor: pointer;
}
.Posts{
    display: flex;
    gap: 10px;
}
.share img{
    width: 1vw;
    height: 2vh;
}
.share-2{
    margin-top: 2vw;
    margin-left: 10vw;
    line-height: 2;
}
.share-2 img{
    width: 20vw;
    height: 40vh;
    object-fit: cover;
    padding: 1vh;
    border-radius: 10px;
    cursor: pointer;
}
.about{
    display: flex;
    gap: 12px;
    justify-content: center;
    color: rgb(115,115,115);
    font-weight: 400;
    cursor: pointer;
}
.languages{
    display: flex;
    justify-content: center;
    color: rgb(115,115,115);
    font-weight: 400;
}

select{
    width: 5vw;
    border: none;
    font-family: Helvetica, sans-serif;
    color: rgb(115,115,115);
    font-weight: 400;
    
}
select option{
    font-size: smaller;
    color: rgb(115,115,115);
    font-weight: 400;
}

button:hover{
    background-color: rgba(128, 128, 128, 0.345);
}
.about p:hover{
    text-decoration: underline;
}
.navbar2{
    display: none;
}
.footer2{
    display: none;
}
.numbers{
    display: none;
}
.res{
    display: none;
}
.res-part1{
    display: none;
}
.namelogo{
    font-weight: 100;
    font-size: 1.9vw;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.dark-icon{
    display: none;
}
.dark-like-icon{
    display: none;
    color: white;
}
.dark-img{
    width: 24px;
    display: none;
}
.more-settings{
    line-height: 55px;
    font-size: 2vh;
    font-weight: 400;
    width: 40vh;
    height: auto;
    display: none;  
    top: 20%;
    left: 1%;
    position: fixed;
    z-index: 500;
    background-color: white;
    box-shadow: 1px 1px 10px 2px rgb(0, 0, 0, 0.5);
    border-radius: 1vh;
}
.more-settings img{
    width: 1.1vw;
    height: 2.2vh;
}
hr.hr-settings{
    width: 100%;
}
.more-set{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 1vw;
    cursor: pointer;
    padding-top: 5px;
}
.dark-set{
    display: none;
}
hr.hr-settings{
    width: 100%;
}
.insta-settings{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
    z-index: 900;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 53vh;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
hr{
    width: 100%;
    border: 1px solid rgb(51, 51, 51);
}
.dimmed1{
    background-color: rgba(0, 0, 0, 0.91);
}
.dimmed2{
    background-color: rgba(255, 255, 255, 0.9);
}
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    pointer-events: none;
}
.insta-settings button{
    width: 100%;
    border-radius: 0;
    background-color: rgb(35, 35, 35);
    color: #F5F5F5;
    padding: 2vh;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width:800px){
    .navbar p{
        display: none;
    }
    .navbar h3{
        display: none;
    }
    .navbar h2{
        display: none;
    }
    .navbar{
        width: 10%;
        border-right: 1px solid gray;
        top: 0;
        left: 0;
        position: fixed;
        
    }
    .navbar img{
        width: 1.2rem;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .nav-logo img{
        display: block;
        margin-bottom: 10vh;
    }
    .nav-topics{
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .topics{
        row-gap: 10vh;
    }
    .users-profile{
        width: 90%;
        margin-top: 10vh;
        margin-left: 10%;
    }
    .profile-pic img{
        width: 7rem;
    }
    .part2{
        display: flex;
        justify-content: space-evenly;
    }
    
    .new img{
        width: 4rem;
        height: 4rem;
    }
    .threads-account img{
        width: 2vw;
        height: 2vh;
    }
    .part1 img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .share-1 img{
        margin-top: 1vh;
        width: 1rem;
        height: 1rem;
    }
    .Posts{
        display: flex;
        gap: 3px;
        margin: 0vw 4vw;
    }
    .share-2{
        margin-top: 10vh;
    }
    .share-2 img{
        width: 3.5rem;
    }
    a{
        color: rgb(23, 177, 237);
    }
    .footer{
        display: none;
    }
}
@media (max-width:550px){
    .navbar{
        display: none;
    }
    .navbar2 img{
        width: 1.3rem;
    }
    .container{
        width: 100%;
        height: 100%;
        display: block;
    }
    .navbar2{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        top: 0;
        left: 0;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid gray;
    }
    .navbar2 p{
        font-weight: 600;
    }
    .users-profile{
        width: 100%;
        margin-left: 0;
    }
    .users-profile-child{
        margin-left: 3vw;
    }
    .part2{
        display: none;
    }
    .numbers{
        border-top: 1px solid gray;
        display: flex;
        justify-content: space-evenly;
        padding: 2vw;
    }
    hr{
        width: 100%;
    }
    .numbers p{
        margin-left: 3vw;
    }
    .part1 button{
        display: none;
    }
    .part1{
        display: none;
    }
    .part3{
        display: none;
    }
    .res{
        display: block;
    }
    .username{
        display: flex;
        gap: 10px;
    }
    .res-part1{
        display: flex;
        flex-direction: column;
    }
    .res-part1 button{
        display: block;
    }
    .res-button{
        display: flex;
        gap: 15px;
    }
    .threads-account img{
        width: 1rem;
        height: 1rem;
    }
    .share-1{
        width: 100%;
        margin-top: 0;
        padding: 2vw;
        border-bottom: 1px solid gray;
    }
    .footer{
        display: none;
    }
    .footer2{
        border-top: 1px solid gray;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vw;
        bottom: 0;
        left: 0;
        position: fixed;
        background-color: white;
    }
    .footer2 img{
        width: 1.1rem;
    }
} 


